@media (max-width: 577px) {
    .steps__items_small {
        display: block;
    }
    .steps .steps__number .steps__items {
        display: none;
    }

    .steps {
        display: flex;
        flex-direction: column;
        .addClub__headerBigscreen {
            display: none;
        }
        .steps__number {
            flex: 1;
            width: 100%;
            #add_club_mainIfo{
                .ant-steps-item-container{
                    min-width: 200px;
                }
            }
            .steps__items_small {
                display: flex;
                flex-direction: row;

                .ant-steps-item {
                    margin-left: 0;
                    margin-top: 10px;
                    padding-left: 0;

                    .ant-steps-item-icon {
                        background-color: #fa8c16;
                        border: none;
                        span {
                            color: white;
                        }
                    }
                }
                .ant-steps-item-process {
                    .ant-steps-item-icon {
                        background-color: #e8e8e8;
                        border: none;
                        span {
                            color: #2d4c68;
                        }
                    }
                }
                .ant-steps-item-wait {
                    .ant-steps-item-icon {
                        background-color: #fff;
                        border-color: rgba(0, 0, 0, 0.25);
                        border:1px solid rgba(0, 0, 0, 0.25);
                        border-radius: 50%;
                        .ant-steps-icon{
                            color: rgba(0, 0, 0, 0.25);
                        }
                    }
                  
                }
                .ant-steps-item-finish,
                .ant-steps-item-active {
                    .ant-steps-item-icon {
                        background-color: #fa8c16;
                        border: none;
                        span {
                            color: white;
                        }
                    }
                }
            }
        }
    }
}
