
.profile{
    width:100vw;
    height:537px;

    display:flex;
    .profile-office-block{
        width:382px;
        height:100%;
        background-color:white;
        .profile-office-block__wrapper{
            width:250px;
            height:250px;
            margin: 0 auto;
            display:flex;
            flex-direction:column;
            justify-content:center;
            h3{
                color:#2d4d68b4;
                font-size:24px;
                font-weight:600;
            }
            .profile-office-block__profile {
                display:flex;
                margin-bottom: 25px;
                margin-top: 25px;
                p{
                    color:#d46b08;
                    font-size:16px;
                    font-weight: 400;
                }
                img{
                    width:20px;
                    height:20px;
                    margin-right: 10px;
                }
            }
            .profile-office-block__message{
                display:flex;
                p{
                    color:#2d4c68;
                    font-weight: 400;
                    font-size:16px;
                }
                img{
                    width:25px;
                    height:25px;
                    margin-right: 10px;
                }
            }
        }
    }
    .profile-information-block{
        width:calc(100% - 382px);
        height:100%;
        background:url("user-background.png");
        h2{
            font-size: 24px;
            font-weight: 700;
            line-height:32px;
            color:#2d4c68;
        }
        .profile-information-block__wrapper{
            width:90%;
            height:100%;
            display:flex;
            flex-direction:column;
            justify-content:center;
            align-items:flex-start;
            margin: 0 auto;
            .button_menu{
                display:flex;
                jusitfy-content:space-between;
                .change_clubs{
                    display:flex;
                    button{
                        padding:0 11px 0 11px;
                        height:32px;
                        border-radius:6px;
                        border:1px solid #d9d9d9;
                        .button_text_clubs{
                            overflow:hidden;
                            
                            font-size:24px;
                            font-weight:700;
                            color:#2d4c68;
                            margin-right: 5px;
                            line-height:0;
                        }
                    }
                }
            }
           
            .profile-information-block__card{
                padding:50px 30px 50px 60px;
                margin-top: 15px;
                margin-bottom: 35px;
                height:280px;
                width:100%;
                border-radius:16px;
                background-color:white;
                display:flex;
                justify-content:space-between;
                .profile-information-block__content-left{
                    display:flex;
                    flex-direction:column;
                    justify-content:space-between;
                    width:350px;
                    .profile-information-block__name-wrapper{
                        .profile-information-block__name{
                            img{
                                width:68px;
                                height:68px;
                            }
                            .name-wrapper{
                                display:flex;
                                .name{
                                    display:flex;
                                    flex-direction:column;
                                    justify-content:center;
                                    margin-left: 30px;
                                    h3{
                                        font-size:18px;
                                        font-weight: 400;
                                        color:#2d4d6885;
                                        line-height:12px;
                                    }
                                }
                            }
                        } 
                    }
                    .number-wrapper , .email-wrapper{
                        display:flex;
                        justify-content:space-between;
                        margin-left: 80px;
                        h4{
                            font-weight: 700;
                            font-size:16px;
                            color:#2d4c68;

                        }
                        p{
                            font-weight: 400;
                            font-size:16px;
                            color:#2d4c68;
                        }
                    }
                }
                .profile-information-block__content-right{
                   a{
                       font-weight: 600;
                       font-size: 16px;
                       color:#2e69c9;
                   }
                }
            }
        }
       
    }
}
@media (min-width: 0px) and (max-width: 1200px){
    .profile{
        flex-direction:column;
        height:auto;
        
        .profile-office-block{
            width:100%;
            height:125px;

            .profile-office-block__wrapper{
                width:auto;
                height:125px;
                margin-left: 55px;
                .profile-office-block__content{
                    display:flex;
                    .profile-office-block__profile {
                        margin: 0 25px 0 0;
                    }
                    .profile-office-block__message{
                    }
                }

            }
        }
        .profile-information-block{
            width:100%;
            height:100%;
            .button_menu{
                margin-bottom: 40px;}
        }
     }         
}
@media (min-width: 0px) and (max-width: 850px){
    .my_profile_text{
        display:none;
    }
}

@media (min-width: 0px) and (max-width: 655px){
    .profile{
        .profile-office-block{
            display:flex;
            justify-content:center;

            .profile-office-block__wrapper{
                width:auto;
                height:125px;
                margin:0px;
                .profile-office-block__content{
                  
                }

            }
        }
     }         
}

