.addCenter-clubs-item label {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 40px;
    color: #2d4c68;
}

.addCenter-clubs {
    padding-bottom: 380px;
    padding-left: 25px;
}