.contacts label {
    color: #2d4c68;
    font-size: 18px;
    margin: 0;
}

.contacts-field {
    padding-bottom: 110px;
}

.contacts-icon {
    width: 24px;
    height: 24px;
    filter: invert(60%);
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 40px 0 20px;
}

.contacts-formItem {
    padding: 5px;
    margin: 0;
}

.contacts-field {
    .ant-form-horizontal .ant-form-item-control {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .ant-input-focused,
    .ant-input:focus {
        border-color: #fff0f0;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: 0 0 0 2px hsl(0deg 0% 100% / 20%);
    }
    .ant-input:hover {
        border-color: #fff0f0;
        border-right-width: 1px !important;
    }
    .ant-input-affix-wrapper:focus {
        border-color: #fff0f0;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: 0 0 0 2px hsl(0deg 0% 100% / 20%);
    }
    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
        border-color: #fff0f0;
        border-right-width: 1px !important;
        z-index: 1;
    }
    .ant-input-affix-wrapper-focused {
        border-color: #fff0f0;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: 0 0 0 2px hsl(0deg 0% 100% / 20%);
    }
}