.ant-modal-content {
    border-radius: 25px;
    .edit_header {
        h3 {
            font-size: 24px;
            font-weight: bold;
            color: #2D4C68;
        }
    }
    .edit_chooseRole {
        display: flex;
        justify-content: center;

        button {
            display: flex;
            justify-content: center;
            align-items: center;
            border: none;
            width: 386px;
            height: 48px;
            display: flex;
            justify-content: space-around;
            background-color: white;
            border-radius: 4px;
            color: black;
            box-shadow: rgba(100, 100, 111, 0.5) 0px 10px 10px 0px;
            margin-bottom: 5%;
        }
        .edit_visitor{
            cursor: not-allowed;
            background-color: #fff7e6;
        }
        
    }
    .ant-form-item-control-input {
        display: flex;
        text-align: center;
    }

    .edit-input{
        display: flex;
        flex-direction: column;
        text-align: left;
        // background-color: rgb(166, 240, 132);

        label{
            display: flex;
            text-align: left;
        }
    }

    .edit-box{
        display: flex;
        text-align: left;
        // background-color: rebeccapurple;
        width: 436px;

        prefix{
            background-color: red;
        }
    }

    .edit_submitBtn {
        display: flex;
        justify-content: center;

        button {
            background-color: #fa8c16;
            color: white;
            border-radius: 6px;
            font-weight: 700;
            font-size: 16px;
            border: none;
        }
    }
}
