@import "~antd/dist/antd.css";

 .menu-administration {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 30px;
  margin-left: -12px;
 }

  .sub-menu-administration {
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  
    :hover {
      color: #000;
      
    }
  }
