
.upload {
    color: #2e69c9;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;

}

.editing-item {
    margin: 0;
}

.ant-btn-primary {
    background: #0050b3;
    border: none;
    box-shadow: none;
}

.ant-btn-primary:hover {
    background: #1890ff;
    border-color: #1890ff;
    border-radius: 0;
}