.contact__contactInput {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.add-club-input {
    .input__icon {
        img {
            width: 14px;
            height: 14px;
        }
    }
}
