.contact__formSocialnetwork {
    display: flex;
    flex-direction: column;
    
    width: 100%;

}

.add-club-input {
    .input__icon {
        img {
            width: 14px;
            height: 14px;
        }
    }
}
@media (max-width:887px) {
    .contact__formSocialnetwork {
        display: flex;
        flex-direction: column;
  

        
    }
        
    
}