
#burger-checkbox {
  display: none;
}

.burger-icon {
  display: none;
}

.Header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
  left: 0px;
  top: 0px;
  background-image: url("/src/Components/header_img/background.svg");
  // style={{ backgroundImage: "url(src/Components/header_img/background.svg)" }}
  width: 100%;
  background-size: cover;

  .wrapper {
    display: flex;
    justify-content: space-between;
    .logo {
      margin-top: 18px;
      margin-left: 86px;
      width: 140.51px;
      height: 40px;
    }
    .Menu {
      display: flex;
      width: 100%;

      input[type="checkbox"]:checked ~ nav {
        display: flex;
        justify-content: space-around;
        height: 150px;
      }
      nav {
        display: flex;
        margin-top: 18px;
        margin-left: 10px;
        padding: 0px;
        a {
          margin-right: 10px;
          height: 22px;
          font-family: Open Sans;
          font-style: normal;
          font-weight: bold;
          font-size: 14px;
          line-height: 22px;
          color: #ffffff;
          img {
            margin: 5px;
          }
        }
      }
    }

    .log {
      display: flex;
      margin-right: 86px;
      margin-top: 18px;
      .locationIcon {
        display: flex;
        align-self: center;
        margin: 5px;
        img {
          display: flex;
          align-self: center;
          filter: invert(90%) sepia(97%) saturate(15%) hue-rotate(328deg) brightness(110%) contrast(101%);
          height: 18px;
          cursor: pointer;
        }
      }
      .city {
        display: flex;
        background: none;
        border-style: none;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #ffffff;
      }
      .avatar {
        filter: invert(90%) sepia(97%) saturate(15%) hue-rotate(328deg) brightness(110%) contrast(101%);
        display: flex;
        align-self: center;
        height: 36px;
        margin: 5px;
        cursor: pointer;
      }
      .GroupDirection__btn {
        text-align: center;
        align-self: center;
        width: 134px;
        height: 36px;
        color: white;
        background-color: #FA8C16;;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 34px;
        letter-spacing: 0em;
        border:0px;
        border-radius:6px;
        transition-duration: 0.4s;
        cursor: pointer;
      }
      .GroupDirection__btn:hover{
        color:#FA8C16;
        background-color: white;
      }

    
    .GroupDirection__btn_adaptive{
      display:none;
      width: 296px;
      max-width:98%;
      height: 36px;
      margin:0 auto;
      margin-top: 25px;
      color: white;
      background-color: #FA8C16;;
      font-size: 16px;
      font-style: normal;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0em;
      border:0px;
      border-radius:6px;
      transition-duration: 0.4s;
      cursor: pointer;
    }
    .GroupDirection__btn_adaptive:hover{
      color:#FA8C16;;
      background-color: white;
      
    }
    }

    @media (max-width: 930px) {
      .logo {
        display: none;
      }
    }
    @media (max-width: 700px) {
      .burger-icon {
        display: flex;
        margin-left: 5px;
        margin-top: 5px;
        width: 18px;
        height: 24px;
        padding: 2px;
        border-radius: 2px;
        background: #ffffff;
      }
      .Menu nav {
        display: none;
        flex-direction: column;
        max-height: 70%;
      }
      
    }
    @media (max-width: 930px) {
      .log {
        margin-block-end: auto;
        margin-right: 5px;
      }
    }
  }
  .LowerWrappper {
    display: flex;
    justify-content: space-between;

    .leftElement {
      display: flex;
      flex-direction: row;
      max-width: min-content;
    }

    .toggle {
      max-height: 28px;
      filter: invert(90%) sepia(97%) saturate(15%) hue-rotate(328deg) brightness(110%) contrast(101%);
      padding: 2px;
      border-radius: 5px;
      margin-right: 5px;
      margin-left: 5px;
      
    }
    .caption {
      display: flex;
      margin-left: 86px;
      width: 559px;
      height: 24px;
      font-family: Open Sans;
      font-style: normal;
      font-weight: bold;
      font-size: 32px;
      line-height: 24px;
      color: #ffffff;
      max-width: max-content;
      margin-right: 15px;
      @media (max-width: 1100px) {
        display: none;
      }
    }
    .ShowMap__btn {
      display: flex;
      width: 134px;
      height: 36px;
      color: #FA8C16;
      background-color: white;
      cursor: pointer;
      font-style: normal;
      font-weight: 700;
      line-height: 34px;
      letter-spacing: 0em;
      border:0px;
      border-radius:6px;
      transition-duration: 0.4s;
    }
    .ShowMap__btn:hover{
      color:white;
      background-color: #FA8C16;
      
    }

  
  .ShowMap__btn_adaptive{
    display:none;
    width: 296px;
    max-width:98%;
    height: 36px;
    margin:0 auto;
    margin-top: 25px;
    color: #FA8C16;
    background-color: white;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    line-height: 34px;
    letter-spacing: 0em;
    border:0px;
    border-radius:6px;
    transition-duration: 0.4s;
  }
  .ShowMap__btn_adaptive:hover{
    color:white;
    background-color: #FA8C16;
  }

    .search {
      margin-right: 86px;
      margin-bottom: 28px;
      display: flex;
      justify-content: space-between;

      .searchField {
        display: flex;
        background: transparent;
        border: none;
        outline: none;
        border-bottom: 2px white;
        font-family: Open Sans;
        font-style: normal;
        font-weight: normal;
        font-size: 16px;
        line-height: 24px;
        color: white;
      }
      .searchField::placeholder {
          color: white;
        }
      .input-field {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid white;
        .search-bar {
          display: flex;
          justify-content: space-between;
        }
        .plate {
          display: flex;
          align-items: flex-end;
        }
      }
      .little-toggle {
        display: flex;
      }
    }
  }
  @media (max-width: 1100px) {
    .LowerWrappper {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 5px;
      .search {
        display: flex;
        margin: 0px;

        .input-field {
          display: flex;
        }
      }
    }
  }
}

@media (max-width: 1100px){
  .Header{
    height: min-content;
  }
  .LowerWrappper{
    margin-right: 86px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
@media (max-width: 930px) {
  .log{
    margin-right: 5px;
  }
  .LowerWrappper{
    margin-right: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
}