.footer__container {
  display: flex;
  max-width: 100%;
  margin: 3% 7% 3% 7%;
  flex-wrap: wrap;
  font-family: "Geneva", Arial, Helvetica, sans-serif;

  .footer__headers {
    margin-top: 0;
    font-style: "SemiBold";
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    color: #2d4c68;
  }

  .footer__socialNetwork {
    flex: 1;
    margin-right: 5%;

    h5 {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      /* or 150% */

      display: flex;
      align-items: center;

      color: #2d4c68;
    }

    .footer__icons {
      display: flex;
      justify-content: space-between;
    }
  }

  .footer__partners {
    display: flex;
    flex: 3;
    flex-wrap: wrap;
    margin-right: 5%;

    h4 {
      min-width: 100%;
    }

    img {
      max-height: 60px;
      flex: 1;
    }

    #footer__logo {
      display: flex;
      flex-wrap: wrap;
      flex: 1;
    }
  }

  .footer__helpProject {
    flex: 2;

    p {
      font-family: Open Sans;
      font-style: normal;
      font-weight: normal;
      font-size: 12px;
      line-height: 18px;
      /* or 150% */

      display: flex;
      align-items: center;

      color: #2d4c68;
    }

    button {
      width: 60%;
      height: 40px;
      color: white;
      background-color: #fa8c16;
      border-radius: 6px;
      border: none;
    }
  }

  #footer__copy {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 18px;
    /* identical to box height, or 150% */

    display: flex;
    align-items: center;

    color: #2d4c68;
  }
}

@media screen and (max-width: 768px) {
  .footer__socialNetwork {
    display: flex;
    flex-direction: column;
    min-width: 100%;
    order: 3;
    margin-top: 5vh;

    .footer__imgLearnUkraniat {
      display: flex;
      width: 100%;
      justify-content: center;
    }

    h5 {
      justify-content: center;
    }

    .footer__icons {
      text-align: center;

      a {
        width: 40%;
      }
    }
  }

  .footer__partners {
    min-width: 100%;
    order: 1;
    display: flex;
    margin-right: 0;

    .footer__headers {
      text-align: center;
    }
  }

  .footer__helpProject {
    display: flex;
    flex-wrap: wrap;
    min-width: 100%;
    order: 2;
    margin-top: 5vh;

    .footer__headers {
      min-width: 100%;
      text-align: center;
    }

    p {
      width: 100%;
      justify-content: center;
    }

    button {
      flex: 1;
    }
  }
}
