.clubs-wrapper{
    background-image:url("../Background.png");
    background-position:top;
    background-size:cover;
    display: flex;
    flex-direction: row;
}
.clubs{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    width:auto;
    max-width:1250px;
    margin:0 auto;
    padding-top: 80px;
    padding-bottom:25px;
}

@media screen and (max-width: 824px) {
    .clubs {
      display: none;
    }
  }