.restore-password-button {
    color:#fa8c16;
    position: static;
    font-size: 18px;
    text-decoration: underline;
}


.restore-password-section {
    display: flex;
    justify-content: center;
    padding-top: 35px;
}

.restore-password-form {
    width: 75%;
    display: flex;
    align-items: center;
}


.restore-password-input {
    height: 40px;
    border-radius: 6px;    
}

.restore-password-footer {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.restore-password-section {
    .ant-input-focused,
    .ant-input:focus {
        border-color: #fff0f0;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: 0 0 0 2px hsl(0deg 0% 100% / 20%);
    }
    .ant-input:hover {
        border-color: #fff0f0;
        border-right-width: 1px !important;
    }
    .ant-input-affix-wrapper:focus {
        border-color: #fff0f0;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: 0 0 0 2px hsl(0deg 0% 100% / 20%);
    }
    .ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
        border-color: #fff0f0;
        border-right-width: 1px !important;
        z-index: 1;
    }
    .ant-input-affix-wrapper-focused {
        border-color: #fff0f0;
        border-right-width: 1px !important;
        outline: 0;
        box-shadow: 0 0 0 2px hsl(0deg 0% 100% / 20%);
    }
}